<div style="width: 100%; display: flex; flex-direction: row; justify-content: center;">
  <div class="products_category" *ngIf="categoryProducts">
    <div
      *ngFor="let producto of categoryProducts.slice(first, first + rows)"
      class="product_card"
      (click)="goToProduct(producto.id)"
    >
      <div>
        <img src="https://img.freepik.com/vector-premium/no-hay-foto-disponible-icono-vector-simbolo-imagen-predeterminado-imagen-proximamente-sitio-web-o-aplicacion-movil_87543-10615.jpg" alt="" style="width: 200px;" />
      </div>
      <div class="description_product">
        <div style="display: flex; align-items: center;">
          <span style="font-weight: 300; font-size: 24px;">{{ producto.title }}</span>
        </div>
        <div class="aditional_information">
          <div style="gap: 30px; display: flex; align-items: center;">
            <span style="font-size: 24px; font-weight: 400;">$ {{ producto.price }}</span>
            <span class="text-[errorBase]">{{ producto.discount_percentage }}% <span>OFF</span></span>
          </div>
          <div>
            <p-tag severity="info" value="Llega gratis mañana"></p-tag>
          </div>
        </div>
      </div>
    </div>
    <p-paginator
      [first]="first"
      [rows]="rows"
      [totalRecords]="categoryProducts.length"
      (onPageChange)="onPageChange($event)"
    ></p-paginator>
  </div>
</div>
