<div class="flex flex-col p-6 gap-5">
  <span class="text-2xl font-semibold">Datos personales</span>
  <p-card>
    <ng-template pTemplate="header">

    </ng-template>
    <div class="info-block" *ngIf="user$ | async as user">
      <div class="info-block">
        <span class="font-semibold">Nombre completo</span>
        <span>{{user.firstName}} {{user.lastName}}</span>
      </div>
      <div class="info-block">
        <span class="font-semibold">E-mail</span>
        <span>{{user.sub}}</span>
      </div>
      <div class="info-block">
        <span class="font-semibold">Teléfono</span>
        <span>*********</span>
      </div>
      <div class="info-block">
        <span class="font-semibold">Roles</span>
        <span>{{user.role}}</span>
      </div>
      <div class="flex flex-row justify-center">
        <button type="button" pButton icon="pi pi-pencil" class="" label="Modificar"
          (click)="editUser(user.id)"></button>
      </div>
    </div>
  </p-card>
</div>