/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-family, 'Lato', sans-serif);
  color: var(--text-color, #333);
}

.input-invalid {
  border-color: red !important;
  box-shadow: 0 0 0 0.2rem rgba(244, 67, 54, 0.25);
}

.text-color-red {
  color: #CC0C39;
}